@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap");

:root{
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
}

main{
    height: inherit;
    padding: 4em 1.8em; 
}

.article-preview{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
}

.color-title{
    color: var(--dark-grayish-blue);
    font-weight: 700;
}
.color-text{
    color: var(--desaturated-dark-blue);
}

.article-preview-author{
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-preview-author-name-date img{
    border-radius: 50%;
}

.article-preview-author-name-date span{
    margin-left: 1.15em;
    margin-top: 0.1em;
    display: inline-block;
    vertical-align: top;
}
.article-preview-author-name-date p{
    margin: 0;
}

.article-preview-share{
    width: 2em;
    height: 2em;
    background: var(--light-grayish-blue);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
    .article-preview-share:hover{
        background: var(--dark-grayish-blue);
    }
    .article-preview-share:focus{
        background: var(--dark-grayish-blue);
    }
    .article-preview-share path{
        -webkit-transition: fill 0.5s;
        transition: fill 0.5s;
    }
    .article-preview-share:hover path{
        fill: white;
    }
    .article-preview-share:focus path{
        fill: white;
    }

.visible{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
}
.hide{
    display: none;
}

#social{
    padding: 1em 2em;
    background-color: var(--dark-grayish-blue);
    color: white;
    font-weight: lighter;
    display: none;
}
#social span{
    margin-right: 0.6em;
    letter-spacing: 5px;
}

/* Mobile */
@media screen and (max-width: 720px){
    .article-preview{
        flex-direction: column;
    } 

    .article-preview-image{
        border-radius: 8px 8px 0 0;
    }

    .article-preview-content{
        padding: 1em 2.8em
    } 

    .article-preview-author-name-date img{
        width: 3em;
    }

    #social.visible{
        border-radius: 0 0 8px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: fadeIn 1s ease-in;
        -webkit-animation: fadeIn 1s ease-in;
    }

    .social-items{
        width: 70%;
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }

    #social .article-preview-share:focus{
        background-color:var(--grayish-blue);
    }
}
/* Medium Devices */
@media (min-width: 500px) and (max-width: 720px) {
    main{
        display: flex;
        justify-content: center;
    }
    .article-preview{
        max-width: 60vw; 
    }
}
/* Desktop */
@media (min-width: 721px){
    body{
        font-size: 16px;
    }

    main{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .article-preview{
        max-width: 65%;
        margin-top: 8vh;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        border-radius: .5em;
    }

    .article-preview-image{
        max-width: 40%;
        object-fit: cover;
        object-position: left;
        border-radius: .5em 0 0 .5em;
    }

    .article-preview-content{
        padding: 1.4em 3.5em;
    }

    .article-preview-title{
        font-size: 1.5em;
    }

    .article-preview-author-name-date img{
        width: 3.5em;
    }

    .article-preview-share{
        width: 2.6em;
        height: 2.6em;
    }

    #social{
        position: fixed;
        width: 13em;
        border-radius: 10px;
        z-index: 1000;
    }
        #social::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border-width: 10px;
            border-style: solid;
            border-color: var(--dark-grayish-blue) transparent transparent transparent;
            
        }
    #social.visible{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #social .social-items{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    #social .article-preview-share{
        display: none;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes poppinUp {
    0% {height: 0;}
    100% {height: auto;}
}